*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #182d3d;
}

header{
    height: 70px;
    background-color: #132431;
    width: 100%;
    display: flex;
    align-items: center;
}

header .content{
    width: 50%;
    margin: 0 auto;
}

header img{
    width: 50px;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
}

.album{
    width: calc(100% / 3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.album_img img{
    width: 300px;
}